@import "font-awesome";

$primary-green: #8CB82C;
$primary-blue: #75CBD2;
$primary-light-blue: #D5F1F0;
$primary-purple: #702C8E;
$primary-pink: #EC008C;
$light-pink: desaturate(lighten(#EC008C, 40), 45);
$medium-pink: darken($light-pink, 10%);
$dark-green: darken($primary-green, 7%);

::-webkit-input-placeholder {
   color: $medium-pink;
   font-family: 'Tahoma';
   &::before {
     font-family: fontAwesome;
     content: '\f002';
   }
}

:-moz-placeholder { /* Firefox 18- */
   color: $medium-pink;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $medium-pink;
}

:-ms-input-placeholder {
   color: $medium-pink;
}

.clear {
  clear:both;
}

.header-container {
  background-color: $primary-light-blue;
  padding: 40px 0 0 0;
}

ul#devise_navigation {
  text-align:right;
  list-style-type:none;
  @include grid-row();
  padding: 0 0 15px 0;

  li {
    display:inline-block;
    padding: 0px 10px;
  }

  li:first-child {
    border-right: 2px solid $primary-blue;
  }
}

header {
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  background: #fff;
  position:relative;
  @include grid-row();

  h1 {
    margin: 0;
    padding:0;
    top: -25px;
    max-width: 345px;
    @include grid-column($columns:5);
  }

  .header-right {
    display:inline-block;
    float:right;
    margin:45px 0px 0px 0;
    text-align:center;
    @include grid-column($columns:7);

    h2 {
      color:$primary-blue;
      font-family: 'cooper-black-std';
      font-size: 19px;
    }

    ul#page_navigation {
      margin: 0;

      li {
        display:inline-block;
        padding: 0px 9px;
        border-radius: 1em;
        width: 23%;
        text-align:center;

        a {
          color:#fff;
        }
      }

      li:first-child {
        background-color: $primary-blue;
      }

      li:nth-child(2) {
        background-color: $primary-green;
      }

      li:nth-child(3) {
        background-color: $primary-purple;
      }

      li:nth-child(4) {
        background-color: $primary-pink;
      }
    }
  }
}

.main-nav {
  background-color: $light-pink;
  padding: 10px 0;
  text-align:center;

  ul#main_navigation {
    list-style-type:none;
    @include grid-row();

    li {
      font-family: 'cooper-black-std';
      @include grid-column(2);
      padding: 0;
      font-size: 20px;

      a {
        color: darken($primary-pink, 20%);
      }

      form {
        margin: 0;

        input[type='text']{
          border-radius:1em;
          height: 23px;
          border: 2px solid $medium-pink;
          margin: 5px 0 0 0;
          color: $medium-pink;
        }

        input[type='submit'] {
          display:none;
        }

        label {
          display:none;
        }
      }
    }
  }
}

.content-container {
  background-color: $primary-blue;
  padding: 0 0 40px 0;

  #content {
    background-color:#fff;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    padding: 20px 10px;
    @include grid-row;
  }
}

.left-column {

  h2 {
    color: $primary-green;
    font-family: 'cooper-black-std';
    font-size: 22px;
  }

  .left-subhead {
    h3 {
      color: $primary-blue;
      font-size: 20px;
      display:inline-block;
      font-weight: 400;
    }
    img {
      display:inline-block;
      width: 30px;
      height: auto;
      margin: 0 5px 0 0;
    }
  }
}

.shop-btn {
  margin: 20px 0;
  height: 25px;
  background-position: center;
  background-image: url('homepage/dotted_line_44_36.png');

  a {
    color:#fff;
    display:inline-block;
    border-radius: 1em;
    font-size: 18px;
    padding: 3px 15px;
    border:none;
    box-shadow:none;
    font-weight: 400;
    background: $primary-pink;
    left: 60%;
    position:relative;
  }
}

p.goal {
  color:$dark-green;
  line-height: 2;
}

.welcome-container {
  .welcome-text {
    // width: 80%;
    display:inline-block;
    margin: 0 20px 0 0;
    padding: 20px 0 0 0;

    h4 {
      color:$dark-green;
      font-family: 'cooper-black-std';
      font-size: 20px;
    }

    p {
      color:$dark-green;
      font-size: 18px;
    }
  }

  img {
    display:inline-block;
    width: 15%;
  }
}

#child_images img {
  margin-bottom: 4px;
}

ul.links {
  @include grid-row;
  padding: 10px;
  text-align:center;
  list-style-type:none;

  li {
    @include grid-column(3);


  }
}

footer {
  text-align:center;

  a {
    color:$primary-light-blue;
    font-size: 14px;
  }

  ul {
    margin-top: 20px;

    li {
      padding: 0px 15px;
      border-right: 2px solid $primary-light-blue;
    }

    li:last-child {
      border-right:none;
    }
  }
}

.dotted-border {
  @include grid-row();
  width: 95%;
  margin: 20px auto 0 auto;
  height: 25px;
  background-position: center;
  background-image: url(image-path('homepage/dotted_line_44_36.png'));
}

$small-range: (0em, 30em); /* 0, 640px */
$small-only: "#{$screen} and (max-width: 40em)" !default;

@media #{$small-only} {
  .header-container {
    padding: 20px 0 0 0;
  }
  header {

    h1, .header-right  {
      @include grid-column(12);
    }

    h1 {
      float:none;
      margin: 0 auto;
      text-align:center;
    }

    .header-right {
      margin-top: 0;
    }
  }

  ul#main_navigation {

    li {
      @include grid-column(4);
    }
  }
}
